* text=auto

*.sh text eol=lf
*.batch text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.sql text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
